[Unit]
Description=SIPMON SIP Registration Checker
Requires=After=mongod.service

[Service]
ExecStart=/usr/local/bin/node /opt/sipmon/checker.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sipmon
Environment=NODE_ENV=production PORT=1337
